@import "tailwindcss";

@theme {
  --color-deep-emerald: #047857;
  --color-soft-teal: #D1FAE5;
  --color-tech-blue: #3B82F6;
  --color-ice-blue: #EFF6FF;
}

@layer base {
  body {
    background-color: var(--color-ice-blue);
    color: rgb(17 24 39);
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}